<div class="header">
  <h1 class="logo">SOS</h1>
  <h5 class="shop-name">Shopify Online Store</h5>
</div>

<div class="wave-top"></div>

<div class="btn-new-product">
  <%= link_to 'New Product', new_product_path %>
</div>