form {
  width: 100%;
}

.field {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 10px;
  padding: 5px 15px;
  width: 100%;
}

#product_image {
  padding: 5px 0;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions > input {
  transition: 300ms;
  cursor: pointer;
  width: 50%;
}

.actions > input:hover {
  transition: 300ms;
  color: #9d8d6c;
  background-color: #001f35;
  box-shadow: 0px 0px 15px 5px rgba(157,141,108,0.8);
}