.table {
  width: 90%;
  margin-inline: auto;
  padding: max(5vh, 1rem) 0;
}

.product-td {
  text-align: center;
  padding: 2rem 1rem;
}

.title{
  font-weight: 600;
}

@media (max-width: 800px) {
  .description {
    display: none;
  }
}